@media (max-width: 1200px) {
  .header {
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__link {
      font-size: 17px;
    }
    &__address {
      margin-right: 20px;
      font-size: 17px;
    }



    &__category-link {
      font-size: 17px;
      padding: 17px 20px;
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__btn {
      display: block;
    }

    &__category-list {
      display: none;
    }

    &__list {
      display: none;
    }

    &__list--mobile {
      overflow: auto;
      white-space: nowrap;
      display: block;
    }
  }
}

@media (max-width: 780px) {
  .header {
    &__top-inner {
      padding: 10px 0;
    }

    &__address {
      width: unset;
      padding-right: 10px;
    }
  }

  .menu-mobile {
    top: 101px;
  }
}

@media (max-width: 576px) {
  .header{
    &__address {
      display: none;
    }

    &__logo-mobile {
      display: block;
      padding-left: 15px;
    }

    &__logo {
      display: none;
    }
  }

  .menu-mobile {
    top: 58px;
  }
}

@media (max-width: 320px) {

}


@media (min-width: 993px) {
  .menu-mobile {
    display: none;
  }
}