@media (max-width: 1200px) {
  .header {
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__link {
      font-size: 17px;
    }
    &__address {
      margin-right: 20px;
      font-size: 17px;
    }



    &__category-link {
      font-size: 17px;
      padding: 17px 20px;
    }
  }

  .promo-section {
    &__slider {
      max-width: 660px;
      margin-right: 0;
    }

    &__inner {
      display: flex;
      justify-content: space-around;
    }

  }

  .categories {

    &__inner {
    }

    &__item {
      flex-basis: calc(50% - 30px);
    }
  }

  .products {
    &__btn {
      margin-top: 73px;
    }
  }

  .footer {
    &__inner {
      flex-wrap: wrap;
    }

    &__socials {
      margin-right: 0;
    }
  }

  .breadcrumbs {
    overflow-x: scroll;
    white-space: nowrap;
  }

  .catalog {
    &__tag,
    &__sort-box {
      margin-bottom: 15px;
    }

    &__tags {
      width: 100%;
      overflow: scroll;
      white-space: nowrap;
      order: 1;
      margin: 0;
    }

    &__top {
      flex-direction: column;
      align-items: start;
    }

    &__products {
      justify-content: space-around;
    }
  }

  .card {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__about {
      max-width: 100%;
      width: 100%;
    }

    &__tabs {
      max-width: 80%;
    }

    &__image-box {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__btn {
      display: block;
    }

    &__category-list {
      display: none;
    }

    &__list {
      display: none;
    }

    &__list--mobile {
      overflow: auto;
      white-space: nowrap;
      display: block;
    }

    &__bottom {
      margin-bottom: 25px;
    }

  }

  .promo-section {
    &--mobile {
      display: block;
    }
    &__inner{
      display: block;
    }

    &__slider {
      margin-bottom: 40px;
      max-width: 100%;
    }

    &__banner {
      margin: 0 auto;
    }

  }

  .banner {
    &__image {
      display: none;
      &--mobile {
        display: block;
        width: 100%;
      }
    }
  }

  .footer {
    &__inner {
      justify-content: space-around;
    }
    &__item {
      margin: 0 30px 30px 0;
    }
  }

  .info {
    &__tab-box {
      flex-direction: column;
      background-color: #fff;
      padding: 0;
      margin-bottom: 40px;
    }

    &__tab {
      padding: 17px 15px 17px 0;
      font-family: Barlow, sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: $basic;
    }

    .tab--active {
      font-weight: 700;
      border-bottom: none;
    }

    &__content {
      padding: 0;
    }

    &__form {
      flex-direction: column;
    }

    &__input {
      max-width: 100%;
      margin: 12px 0 0;
      border: 1px solid #F0F0F4;
      background-color: #fff;
    }

    &__label {
      font-family: Barlow, sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: $basic;
      margin-bottom: 32px;
    }

    &__search-btn {
      display: none;
    }

    &__buttons {
      padding: 0;
      text-align: left;
      .check {
        display: block;
        padding: 8px 0;
        border-bottom: 0.5px solid #C4C4C4;
        &:not(:last-child) {
          margin: 0;
        }

        &__text {
          font-family: Barlow, sans-serif;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          color: $basic;
        }
      }
    }



    &__btn {
      
    }
  }
}

@media (max-width: 780px) {
  .header {
    &__top-inner {
      padding: 10px 0;
    }

    &__address {
      width: unset;
      padding-right: 10px;
    }
  }

  .menu-mobile {
    top: 101px;
  }

  .promo-section {
    &__inner{
      display: block;
    }

    &__slider {
      max-width: 100%;
    }

    &__slide {
      height: 300px;
    }
  }

  .search {

    &__tabs-box {
      flex-wrap: nowrap;
      overflow: auto;
      white-space: nowrap;
    }
  }

  .categories {
    &__item {
      flex-basis: 70%;
    }

    &__inner {
      justify-content: center;
    }
  }

  .products {
    &__tab-box {
      overflow: scroll;
      white-space: nowrap;
    }
  }

  .catalog {

  }

  .info {
    &__inner {
      display: none;
      &--mobile {
        display: block;
      }
    }

    &__line {
      padding: 0;
      margin-top: 20px;
      &:not(:first-child) {
        border-bottom: none;
      }

      &.hours {
        margin-top: 0;
        .info__text {
          margin-top: 5px;
        }
      }
    }

    &__working-hours {
      max-width: 100%;
    }

    &__row {
      width: 50%;
    }

    &__title {
      font-family: SF Pro Display, sans-serif;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      color: $basic;
    }

    &__text {
      padding: 0;
    }

    &__buy-btn {
      display: block;
      width: 100%;
      font-family: Proxima Nova, sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }

}

@media (max-width: 576px) {
  .header{

    &__address {
      display: none;
    }

    &__logo-mobile {
      display: block;
      padding-left: 15px;
    }

    &__logo {
      display: none;
    }
  }

  .menu-mobile {
    top: 58px;
  }

  .promo-section {

    .container {
      padding: 0;
    }

    &__slide {
      height: 200px;
    }

    .promo-section__image {
      object-fit: cover;
      object-position: top;
    }
  }

  .search {

    .tab {
      padding: 0;
      border-bottom: 2px solid transparent;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    .tab--active {
      background-color: transparent;
      border-radius: 0;
      padding: 0;
      border-bottom: 2px solid $accent;
      text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
    }

    &__input {
      max-width: 100%;
      padding-right: 45px;
      &::placeholder {
        color: $basic;
      }
    }

    &__btn {
      font-size: 0;
      padding: 0;
      margin-left: -55px;
      border-radius: 0;
      line-height: 0;
      letter-spacing: 0;
      text-transform: unset;
      color: #FFF;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: none;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        background-image: url('../images/icons/magnifier-search.svg');
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .categories {
    &__item {
      flex-basis: 100%;
      height: 129px;
      max-width: 288px;
    }

    &__image {
      height: 80%;
      margin: auto 0 0 20px;


    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }


  }

  .footer {
    padding-bottom: 62px;
    padding-top: 17px;
    &__inner {
      justify-content: space-around;
    }

    &__form {
      max-width: 100%;
    }
    &__item {
      display: none;
      margin-right: 0;
      &--mobile {
        display: block;
        max-width: 100%;
        width: 100%;
        margin: 0;
        border-bottom: 2px solid rgba($basic, .1);

      }
      &--form {
        text-align: center;
        display: block;
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding-bottom: 41px;
        .footer__title {
          font-family: "San-Francisco Pro", sans-serif;
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
          color: #2F3035;
          &::after {
            display: none;
          }
        }
      }
      &:first-child {
        border-bottom: 2px solid rgba($basic, .1);
      }
    }

    &__btn {
      margin-left: -15px;
    }

    &__input {
      max-width: 100%;
      width: 100%;
      padding-right: 25px;
      outline: transparent;
    }

    &__title {
      margin: 0;
      padding: 16px 6px;
      font-family: "San-Francisco Pro", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #7F7F7F;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        width: 12px;
        height: 6px;
        background-image: url('../images/icons/arrow-footer.svg');
        background-repeat: no-repeat;
        right: 4px;
        bottom: 50%;
        transform: translateY(50%);
        transition: all .3s;
      }
      &.active::after {
        transform: translateY(50%) rotate(180deg);
      }
    }
    
    &__socials {
      max-width: 100%;
      padding: 41px 0 80px;
      margin: 0;
      justify-content: center;
    }

    &__link {
      display: block;
    }
    
    &__copy {
      text-align: left;
    }

    &__copy-link {
      display: block;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  .catalog {

    &__sort-box {
      max-width: 100%;
      width: 100%;
      padding: 14px 0;
      border-top: 0.5px solid #C4C4C4;
      border-bottom: 0.5px solid #C4C4C4;
      justify-content: center;
    }

    &__select-wrapper {
      max-width: unset;
      width: unset;
      margin: 0 30px 0 0;
      &::before {
        width: 19px;
        height: 13px;
        background-image: url('../images/icons/select-mobile-arrows.svg');
        left: 0;
        top: 10px;
        right: unset;
      }
    }

    &__select {
      max-width: unset;
      font-family: "San-Francisco Pro", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: $basic;
      padding: 8px 26px 8px 26px;
      border: none;
    }

    &__tags {
      padding-top: 20px;
    }

    &__inner {
      display: block;
    }
    &__filters-btn {
      display: block;
    }

    &__view-box {
      display: none;
    }
  }

  .filters {
    display: none;
    max-width: 100%;

    &__btn-box {
      width: calc(50% - 10px);
      margin-right: 10px;
    }

    &__tabs {
      margin-bottom: 40px;
    }
  }

  .pagination {
    max-width: 100%;
    width: 100%;
    &__prev,
    &__next {
      display: none;
    }

    &__item {
      margin: 0;
      &:not(:last-child) {
        margin: 0;
      }
    }
  }

  .card {

    &__title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 40px;
    }

    &__code {
      margin-bottom: 8px;
    }

    &__tabs {
      display: none;
    }

    &__image-box {
      order: 1;
    }

    &__buy {
      display: none;
      &--mobile {
        display: block;
      }
    }

    &__discount {
      border-bottom: 1px solid rgba(#1C62CD, .2);
    }

    &__image {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 44px 0 40px;
    }

    &__img {
      width: 100%;
    }

  }
}

@media (max-width: 320px) {
  .promo-section {

    &__slide {
      height: 164px;
    }
  }

  .info {

    .check {
      &__text {
        display: block;
        padding: 0 22px 0 0;
        &::before {
          left: unset;
          right: 0;
        }
        &::after {
          left: unset;
          right: 4px;
        }
      }
    }
  }
}


@media (min-width: 993px) {
  .menu-mobile {
    display: none;
  }
}