@import "fonts";
@import "global";
@import "vars";

.header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 21px;
    @extend %sf-bold;
    font-size: 20px;
    line-height: 24px;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    @include focus;
    &:hover {
      color: $accent;
    }
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__address {
    margin-right: 60px;
    padding-left: 30px;
    width: 265px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      background-image: url('../images/content/nav-marker.svg');
      background-repeat: no-repeat;
      background-position: center center;
      left: 0;
      bottom: 0;
    }
  }

  &__user-list {
    margin-right: 8px;
  }

  .new__num {
    display: none;
  }

  &__user-item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:last-child {
      padding-right: 15px;
    }

    &.new {
      position: relative;
      .new__num {
        display: block;
        position: absolute;
        min-width: 20px;
        height: 20px;
        background-color: $accent;
        color: #fff;
        @extend %sf-medium;
        font-size: 10px;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        right: 0;
        bottom: 0;
      }
    }
  }

  &__bottom {
    overflow: hidden;
    margin-bottom: 78px;
  }

  &__category-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #F0F0F4;
    min-height: 53px;
  }

  &__category-link {
    overflow: hidden;
    text-transform: capitalize;
    font-size: 20px;
    position: relative;
    padding: 15px 20px;
    z-index: 2;
    //@include focus;
    &::before {
      position: absolute;
      content: '';
      left: 0;
      width: 100%;
      bottom: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0;
      background-color: #fff;
      transition: all .5s, text-shadow .1ms;
      border-bottom: 3px solid $accent;
    }

    &:hover {
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
      &::before {
        opacity: 1;
        bottom: 0;
      }
    }
    &--active {
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
      &::before {
        opacity: 1;
        bottom: 0;
      }
    }
  }
}


/* PROMO-SECTION START */
.promo-section {
  margin-bottom: 77px;
  &__inner {
    display: flex;
  }
  &__slider {
    max-width: 870px;
    margin-right: 36px;
    position: relative;
  }

  &__slide {
    width: 100%;
    height: 400px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__arrow {
    border: none;
    background-color: transparent;
    @include focus;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    left: 23px;
    cursor: pointer;

    &--right {
      right: 23px;
      left: unset;
    }
  }

  .slick-dots {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 40px;
    li {
      display: inline-block;
      padding: 0 5px;
    }
    button {
      padding: 0;
      margin: 0;
      background-color: transparent;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      border: 1px solid #fff;
      font-size: 0;
      @include focus;
    }
  }
  
  .slick-active button {
    background-color: #fff;
  }


  &__banner {
    max-width: 265px;
    width: 100%;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    text-align: center;
    @include focus;
  }

  &__banner-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

  }
  
  &__name {
    padding: 8px 20px;
    background-color: $accent;
    color: #fff;
    max-width: 90px;
    line-height: 15px;
    @extend %proxima-bold;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  &__price {
    text-align: right;
    height: 100%;
  }

  &__price-new {
    font-size: 27px;
    line-height: 32px;
    color: $accent;
    @extend %barlow-bold;
    margin-right: 7px;
  }

  &__price-old {
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    line-height: 17px;
    @extend %barlow-regular;
    color: #C4C4C4;
    margin-right: 4px;
    margin-top: 7px;
    padding-left: 5px;
    &::before {
      position: absolute;
      content: '';
      width: calc(100% - 8px);
      height: 0.5px;
      bottom: 9px;
      left: 1px;
      background-color: #C4C4C4;
      transform: rotate(-11.33deg);
    }
  }

  &__banner-image {
    width: 125px;
    height: 177px;
    overflow: hidden;
    margin: 0 auto;

  }

  &__banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__banner-title {
    max-width: 200px;
    font-size: 18px;
    line-height: 21px;
    @extend %sf-bold;
    margin: 0 auto 7px;
  }

  &__banner-bottom {
    background: #F0F0F4;
    border-radius: 3px;
    padding: 26px 10px;
    font-size: 18px;
    line-height: 21px;
  }

  &__highlight {
    display: block;
    font-size: 18px;
    line-height: 22px;
    @extend %barlow-bold;
    color: $accent;
    margin-top: 8px;
  }
}
/* PROMO-SECTION END */

/* TABS START */
.tab-content {
  display: none;

  &--active {
    display: block;
  }
}

.tabs-title {
  @extend %barlow-bold;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}
/* TABS END */

/* SEARCH START */
.search {
  margin-bottom: 80px;

  &__tabs-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  &__tab {
    font-size: 20px;
    line-height: 24px;
    padding: 12px 26px;
    cursor: pointer;
    @include focus;

    &:not(:last-child) {
      margin-right: 2px;
    }

    &:hover {
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }
  }

  &__form {
    display: flex;
  }

  &__input {
    max-width: 1025px;
    width: 100%;
    padding: 15px 20px;
    background-color: #f0f0f4;
    border-radius: 3px;
    font-size: 16px;
    line-height: 19px;
    border: none;
    @include focus;
    &::placeholder {
      color: #656464;
    }
  }

  &__btn {
    font-size: 14px;
    padding: 16px 40px;
    margin-left: -5px;
    border-radius: 3px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFF;
    @extend %sf-bold;
    border: none;
    background-color: $accent;
    cursor: pointer;
    @include focus;
  }

  .tab--active {
    background-color: #F0F0F4;
    border-radius: 5px;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
  }
}
/* SEARCH END */

/* CATEGORIES START */
.categories {
  margin-bottom: 80px;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }

  &__item {
    flex-basis: calc(33.333% - 30px);
    display: flex;
    //height: 130px;
    //align-items: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    margin-bottom: 30px;
    margin-left: 30px;
    @include focus;
    position: relative;


    &:hover {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      border-color: transparent;

      .categories__name {
        color: $accent;
      }
      .categories__more {
        text-decoration: underline;
      }
    }
  }

  &__name {
    @extend %barlow-bold;
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  &__more {
    font-size: 14px;
    color: #C4C4C4;
    line-height: 1;
    position: relative;
    padding-right: 9px;
    &::after {
      position: absolute;
      content: url("../images/icons/right-arrow.svg");
      right: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0 18px 20px;
    margin-right: 5px;
    width: 50%;
  }

  &__image {
    padding: 5px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}
/* CATEGORIES END */

/* PRODUCTS START */
.products {
  margin-bottom: 86px;


  &__tab-box {
    display: flex;
  }
}
/* PRODUCTS END */






